html
{
  background-color: #f5f7f9;
}

body
{
  color: #EEEEEE;
  font-family: Verdana, Geneva, sans-serif;
  padding-top: 70px;
  padding-bottom: 100px;
  background-color : transparent;
}

header
{
  text-align: center;
  background-color : transparent;
  font-weight: bold;
  color: #F64747;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 20px;
}

span
{
  font-size: 25px;
  cursor: pointer;
  color: #ECECEC;
}

.fixed-bg 
{
    background-image: url("../img/paris.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar,
.navbar:hover
{
  background: #F1A9A0;
  background-color: #F1A9A0;
  border-color: #96281B;
  border-width: 15px;
  padding: 15px;
  margin-bottom: 20px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #BFBFBF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-top: 55px;
    border-radius: 0px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ECECEC;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #F1A9A0;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}

#main {
    transition: margin-left 0.5s;
    padding: 1px;
    font-size: 25px;
    left: 50%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 10px;}
  .sidenav a {font-size: 11px;}
}

.link
{
  margin: 50px;
}

.link-color
{
  color: #D64541;
  border: 1px solid #96281B;
  padding: 10px;
  border-radius: 20px;
}

.link-color:hover
{
  background-color: #D64541;
  border-color: #D64541;
}

.index-pic
{
  border-color: #D64541;
  border: 1px solid #96281B;
  background-color: #F1A9A0;
}

.index-pic:hover
{
  color: #ECECEC;
  background-color: #D64541;
  border-color: #D64541;
  text-decoration: none;
}

.center
{
  text-align: center;
}

.card
{
  border-color: #ccc;
  margin-top: 10px;
}

.card-title
{
  color: #e16879;
  font-weight: 300;
  text-align: center;
}

.top-padding
{
  padding-top: 50px;
}

.bottom-padding
{
  padding-bottom: 50px;
}

.index-pic
{
  display: block;
  width: 100px;
  margin: auto;
  border-radius: 50%;
  padding: 3px;
  background-color: #F1A9A0;
}
